@tailwind base;
@tailwind components;
@tailwind utilities;

/* This adds a smooth transition to all color changes */
body {
  @apply transition-colors duration-500;
  margin: 0;
  background-color: #131f24;
}